@CHARSET "ISO-8859-1";
body{
	background-color: #ea8017;
	margin: 0px;
}

div.header{
	height: 80px;
	width: 100%;
}

div.body{
	background-color: #ffcfaf;
	position: absolute;
	top: 80px;
	width: 100%;
	height: 520px;
	margin: 0px;
}

div.tab{
	/*Apariencia*/
	background-color: #942611;
    
    /*Tamaño*/
    height: 40px;
    width: 300px;

    /*Posicion*/
    position: relative;
    float: right;

    /*Layput*/
    bottom: -40px;
    right: 5px;
    margin-left: 5px;
    text-align: center;
}

div.leftPanel{
	background-color: #ffcfaf;
	float: left;
	width: 40%;
	height: 100%;
}

div.rightPanel{
	background-color: #d4340c;
	float: right;
	width: 60%;
	height: 100%;
}