@CHARSET "ISO-8859-1";
body{
	background-color: #ea8017;
	margin: 0px;
}

div.header{
	height: 80px;
	width: 100%;
}

div.body{
	background-color: #ffcfaf;
	position: absolute;
	top: 80px;
	width: 100%;
	height: 520px;
	margin: 0px;
}

div.tab{
	/*Apariencia*/
	background-color: #942611;
    
    /*Tamaño*/
    height: 40px;
    width: 300px;

    /*Posicion*/
    position: relative;
    float: right;

    /*Layput*/
    bottom: -40px;
    right: 5px;
    margin-left: 5px;
    text-align: center;
}

div.leftPanel{
	background-color: #ffcfaf;
	float: left;
	width: 40%;
	height: 100%;
}

div.rightPanel{
	background-color: #d4340c;
	float: right;
	width: 60%;
	height: 100%;
}

div.recipeEmptyView{
	position: relative;
	width: 100%;
	height: 100%;
}

div.recipeFullView{
	background-color: #ffcfaf;
	position: relative;
	width: 100%;
	height: 100%;
}

div.recipeAttributesPanel{
	float: left;
	width: 33%;
	height: 98%;
	padding-top: 10px;
}

div.photoPanel{
	background-color: #000000;
	color: #ffffff;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    
	width: 250px;
	height: 200px;
}

div.centerSubtitle {
    font: bold 16px verdana;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    text-align: center;
    width: 250px;
}

div.subtitle {
    font: bold 16px verdana;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 10px 0;
    width: 100%;
}

div.ingredientsPanel{
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
	width: 250px;
	height: 230px;
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    /*margin: 20px 10px;*/
    /*padding: 0 0 20px;*/
}

div.listIngredientsItemRenderer{
	font: bold 12px verdana;
    height: 20px;
    padding: 6px 0 0 6px;
    width: 97.5%;
}

div.titleItemRenderer{
	text-decoration:underline;
	font: bold 14px verdana;
    height: 20px;
    padding: 6px 0 0 6px;
    width: 97.5%;
}

div.recipeElaborationPanel{
	float: right;
	width: 66%;
	height: 100%;
}

h1.title{
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

input.textInput{
	border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    margin-left:10px;
    margin-right:10px;
    font: 20px verdana;
    padding: 8px 12px;
    width: 90%;
}

div.list{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    height: 65%;
    margin: 20px 10px;
    padding: 0 0 20px;
}

div.listItemRenderer{
	font: bold 16px verdana;
    height: 40px;
    padding: 12px 0 0 12px;
    width: 97.5%;
}

div.selectedItemRenderer {
    background-color: #FFEADC;
    font: bold 16px verdana;
    height: 40px;
    padding: 12px 0 0 12px;
    width: 97.5%;
}

h1{
	margin-left:auto;
    margin-right:auto;
    text-align: center;
}

p.textArea{
	background-color: #FFFFFF;
	font: 16px verdana;
    border-radius: 8px 8px 8px 8px;
    height: 72%;
    margin: 0px 10px;
    padding: 10px 15px;
}